<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ilife.iliferobot">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--扫描二维码需要的权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--AbleCloud需要的权限-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--自动连接到wifi需要的权限-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.READ_LOGS" /><!-- 获取日志-->
    <application
        android:name="com.ilife.iliferobot.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ilife.iliferobot.activity.FirstActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ilife.iliferobot.activity.MyCaptureActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ilife.iliferobot.activity.QuickLoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ilife.iliferobot.activity.SetPasswordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.ilife.iliferobot.activity.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ilife.iliferobot.activity.FirstApActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.ilife.iliferobot.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ilife.iliferobot.activity.ClockingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ilife.iliferobot.activity.ConsumesActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ilife.iliferobot.activity.HistoryActivity_x9"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ilife.iliferobot.activity.HistoryDetailActivity_x9"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ilife.iliferobot.activity.ProtocolActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ilife.iliferobot.activity.ZacoProtocolActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ilife.iliferobot.activity.ForgetPwdActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ilife.iliferobot.activity.SelectActivity_x"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ilife.iliferobot.activity.PersonalActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ilife.iliferobot.activity.HelpActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.ilife.iliferobot.activity.SettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.google.zxing.activity.CaptureActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ilife.iliferobot.activity.ApGuideActivityX900"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ilife.iliferobot.activity.BindSucActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.ilife.iliferobot.activity.MapActivity_X8_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ilife.iliferobot.activity.MapActivity_X9_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ilife.iliferobot.activity.OtaUpdateActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ilife.iliferobot.activity.ApWifiActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ilife.iliferobot.activity.ConnectDeviceApActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ilife.iliferobot.activity.BindFailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!--测试环境-->
        <!--<meta-data-->
        <!--android:name="UMENG_APPKEY"-->
        <!--android:value="596d7547677baa3551001b43">-->
        <!--</meta-data>-->
        <!--<meta-data-->
        <!--android:name="UMENG_MESSAGE_SECRET"-->
        <!--android:value="d97a440de32c79648f57d0b94ce58509">-->
        <!--</meta-data>-->

        <!--生产环境-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59a3bdba07fe65300000089a"/>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="3be416dbde2c9ddbf8c7563dfbe1c473"/>

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="wskgyvtdj201314"/>
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
    </application>

</manifest>